<div class="embed-responsive embed-responsive-16by9">
    <iframe
            id="{{ options.id }}"
            src="//player.vimeo.com/video/{{ media.providerReference }}?{{ options.src }}"
            frameborder="{{ options.frameborder }}"
            width="{{ options.width }}"
            height="{{ options.height }}"
    >
    </iframe>
</div>