<div class="embed-responsive embed-responsive-16by9">
    <iframe
        id="{{ options.id }}"
        src="//player.youku.com/embed/{{ media.providerReference }}?{{ options.src }}"
        width="{{ options.width }}"
        height="{{ options.height }}"
        frameborder="{{ options.frameborder }}"
    >
    </iframe>
</div>
